/*------------
RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
GENERAL
-------------*/
body{
    font-family: "Montserrat", sans-serif;
}

img{
    size: 100%;
}

ul{
    list-style-type: none
}
/*------------
STRUCTURE
-------------*/
main{
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
}

aside{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
    overflow-y: auto;
}

footer{
    height: 90px;
    background-color: #282828;
}

.top-header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #080B12;
}
/*------------
UTILITIES
-------------*/
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.white{
    color: white;
}

.align-center{
    align-items: center;
}
/*------------
ASIDE
-------------*/
aside > *{
    padding-right: 60px;
    color: #717171;
    font-size: smaller;
    font-weight: bolder;
}

.desktop > *{
    margin-top: 15px;
}

#logo{
    margin-bottom: 20px;
    margin-left: 20px;
}

aside li{
    align-items: center;
    margin-top: 15px;
    padding-left: 20px;
    gap: 5px;
}

#green-border img{
    margin-left: -3px;
}

#green-border{
    border-left: solid 3px #ADFF2F;
}

nav li img{
    width: 20px;
}

#new-playlist{
    height: 37px;
    width: 37px;
    text-align: center;
    color: black;
    line-height: 37px;
    font-size: 40px;
    font-weight: lighter;
    background-color: #A3A3A3;
}

.desktop{
    height: 100%;
}

#aside-bottom{
    margin-top: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
}

.profile-icon{
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

aside hr{
    margin-top: 6px;
    margin-bottom: 12px;
    margin-right: -50px;
}

#aside-bottom span{
    margin-left: 5px;
}

.mobile{
    display: none;
}
/*------------
TOP HEADER
-------------*/
.top-header{
    justify-content: end; 
    padding-right: 10px;
}

.top-header button{
    padding: 15px 30px;
    font-weight: bolder;
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
}
/*------------
MAIN
-------------*/

/*------------
MEDIA QUERY XS
-------------*/
@media screen and (max-width: 600px) {

    main{
        width: calc(100% - 50px);
    }
    
    .desktop{
        display: none;
    }

    aside > *{
        margin-top: 15px;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: calc(100vh - 90px);
    }

    .mobile-aside-bottom{
        display: flex;
        flex-direction: column;
    }

    aside{
        padding: 15px 10px;
        height: calc(100vh - 90px);
        width: 50px;
    }
    
    .mobile img{
        width: 30px;
        margin-top: 10px;
    }
    
    #small-logo{
        margin-top: -20px;
        margin-bottom: 5px;
    }

    .profile-icon{
        width: 30px;
        height: 30px;
        background-color: #808080;
        border-radius: 50%;
        overflow: hidden;
    }

    .profile-icon img{
        margin-top: 0;
    }

    i{
        font-size: 12px;
        margin: auto;
        margin-bottom: 15px;
    }
}


